<!DOCTYPE html>
   <head>
      <link rel="stylesheet" href="/assets/css/styles.css">
   </head>
   <body>
      <div class="container">
         <header class="header-title">
            Green Island Cricket Club
         </header>
         <nav>
            <ul>
               {% for item in site.data.navlist.navitems %}
                  <li><a href="{{ item.url }}">{{ item.title }}</a></li>
               {% endfor %}
            </ul>
         </nav>
         <main>
            {{ content }}
         </main>
         <aside>
            Aside
         </aside>
         <footer class="footer-copyright">
            &copy; All rights reserved, Green Island Cricket Club, 2019
         </footer>
      </div>
   </body>
</html>